<form>
     <label class="d-block mb-4">
          <span class="form-label d-block text-light">Your name</span>
          <input
            required
            name="name"
            type="text"
            class="form-control text-light border-secondary bg-transparent"
            placeholder="Joe Bloggs"
          />
        </label>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">years of experience</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5+</option>
     </select>
     <div class="form-group">
    <label for="exampleFormControlTextarea1">Tell us more about yourself</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Upload resume</label>
    {{!-- <input type="file" class="form-control-file" id="exampleFormControlFile1"> --}}
      <input type="file" name="imgfile" accept="" id="imgfile">
    <button type="button" class="btn btn-primary" id="submitBtn">Primary</button>
     <div class="" id="images"></div>
  </div>
</form>
</form>
<script type="module" src="/js/application-form.js"></script>