<!-- Loop over each object in the projects array -->
{{#each jobs as |job| }}
<div class="row mb-4 project">
    <a href="/project/{{job.id}}">
  <div class="col-md-5">
    <h2>     
      {{job.name}}
    </h2>
    <p>Job Listed by {{job.user}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{job.description}}
    </p>
  </div>
  </a>
</div>
{{/each}}
