<div class="ui-widget center mb-10">
  <label for="tags">Search Jobs by Name: </label>
  <input id="tags">
</div>

<!-- Loop over each object in the projects array -->
{{#each jobs as |job| }}
<div class="row mb-4 project">
    <a href="/job/{{job.id}}">
  <div class="col-md-5">
    <h2>     
      {{job.job_name}}
    </h2>
    <p>Job Listed by {{job.user.name}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{job.job_description}}
    </p>
  </div>
  </a>
</div>
{{/each}}
