<div class="row">
  <div class="col-md-5">
    

    <form class="form login-form border p-4 rounded-5 shadow-lg bg-secondary text-white">
      <h2>Login</h2>
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>

      <div class="form-group mt-5 text-center">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>

  <div class="col-md-6 ml-5 border p-4 rounded-3 bg-secondary text-white">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>

      <div class="form-group">
        <label for="user-type">User Type:</label>
        <select class="form-control" id="user-type">
          <option value="true">Employer</option>
          <option value="false">Job Seeker</option>
        </select>
      </div>

      <div class="form-group mt-5 text-center">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>